<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true">

    <testsuites>
        <testsuite name="Weird test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
